﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Российские Парковочные Системы</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/ASE.js")"></script>

    <script>
        ASE.Init('@Url.Content("~/")');
    
        bootbox.setDefaults({
            locale: "ru"
        });
    </script>
</head>
<body>
    <div class="container-full body-content">
        @RenderBody()
    </div>

    <div class="footer">
        <div class="row" style="margin: 0 0 0 0">
            <div class="col-sm-2">
                <p>&copy; @DateTime.Now.Year - Российские Парковочные Системы</p>
            </div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2 pull-right">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", style = "padding-right: 15px; padding-left: 15px;" }))
                    {
                        @Html.AntiForgeryToken()
                        var user = @UserManager.FindByIdAsync(UserIdS).Result;
                        var UserName = user == null ? "" : user.UserName;
                    
                        <a href="javascript:document.getElementById('logoutForm').submit()">Выйти @UserName</a>
                    }
                    
                    if (UserManager.IsInRoleAsync(UserIdS, "Admin").Result)
                    {
                        @Html.ActionLink("Администрирование", "Index", "Admin")
                    }
                }
            </div>
        </div>
    </div>

    <script>
        $(function () {
            //$().validator({});
            $('form').validator().on('submit', function (e) {
                L(e);
                if (e.isDefaultPrevented()) {
                    // handle the invalid form...
                } else {
                    // everything looks good!
                }
            })
        });
    </script>
</body>
</html>
