﻿@model ViewModelSettings

<div id="dlgOptions" class="modal">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <input class="did" type="hidden" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Основные настройки<span></span></h4>
            </div>
            <div class="modal-body form-horizontal">
                @using (Html.BeginForm("Se", null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    @Html.LabelEditorValidation(m => m.Server, new
                    {
                        label = new { @class = "col-sm-4" },
                        group = new { @class = "col-sm-8" }
                    })
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="dlgOptionsSave();">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<script>
    function dlgOptionsSave(id) {
        $.ajax({
            url: "@Url.Action("GlobalSettingsDialogSave", "Home")",
            type: "POST",
        dataType: "json",
        data: { Server: $("#dlgOptions #Server").val() },
        cache: false,
        success: function (response) {
            $("#dlgOptions").modal('hide');
        },
        error: function (xhr, ajaxOptions, thrownError) {
        }
    });
    }
</script>