﻿@model Map

<div id="dlgOptionsMain" class="modal">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <input class="did" type="hidden" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Основные настройки<span></span></h4>
            </div>
            <div class="modal-body form-horizontal">
                @using (Html.BeginForm("Index", null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.ParkingId)

                    @Html.LabelEditorValidation(m => m.Name, new
                    {
                        label = new { @class = "col-sm-4" },
                        group = new { @class = "col-sm-8" }
                    })

                    @Html.LabelEditorValidation(m => m.Level, new
                    {
                        label = new { @class = "col-sm-4" },
                        group = new { @class = "col-sm-8" }
                    })

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Схема</label>
                        <div class="col-sm-8">
                            <span class="input-group">
                                <input type="text" class="form-control" value="@(String.IsNullOrEmpty(Model.ImageName) ? "Файл не выбран" : Model.ImageName)" disabled="">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default">...</button>
                                    <input id="fileimg" name="file" class="control-label" type="file" style="" />
                                    @if (Model.Image != null)
                                    {
                                        <button onclick="@String.Format("DeleteFile('{0}'); return false;", Model.Id)" class="btn btn-danger">X</button>
                                    }
                                </span>
                            </span>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#dlgOptionsMain form')[0].submit()">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<script>
    function DeleteFile(id) {
        var hidden = document.createElement("input");
        hidden.type = "hidden";
        hidden.name = "deleteimage";
        hidden.value = "deleteimage";
        var f = $('#dlgOptionsMain form')[0];
        f.appendChild(hidden);
        $('#dlgOptionsMain form')[0].submit();
    }
</script>