﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ЦУ</title>
    <link href="/bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet">

    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/bower_components/backbone-forms/distribution.amd/templates/bootstrap3.css" rel="stylesheet">
    <link href="/bower_components/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="/admin/styles/bs/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/styles/css/jquery-custom.css" rel="stylesheet">
    <link href="/admin/styles/css/custom.css" rel="stylesheet">

    <link href="/admin/styles/css/effects.css" rel="stylesheet">


</head>

<body style="overflow: hidden;">


<script data-main="admin/scripts/init.js" src="bower_components/requirejs/require.js"></script>


</body>
</html>
