<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ЦУ</title>

    <link href="/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
    <link href="/bower_components/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="/bs3/less/bootstrap.css" rel="stylesheet">

    <link href="style/css/utils.css" rel="stylesheet">
    <link href="style/css/monitor.css" rel="stylesheet">


</head>

<body style="overflow: hidden;">


<script src="bower_components/modernizr/modernizr.js"></script>


<script data-main="admin/scripts/monitor_init" src="bower_components/requirejs/require.js"></script>






</body>
</html>
