﻿@model Device

<div id="dlgAddDevice" class="modal">
    <div class="modal-dialog" style="min-width: 900px; min-height: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <input class="did" type="hidden" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Новое устройство<span></span></h4>
            </div>
            <div class="modal-body form-horizontal" style="min-width: 300px; min-height: 300px;">
                @using (Html.BeginForm("AddDevice", null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(m => m.LevelId)
                    
                    <div class="col-sm-6">
                        @Html.LabelEditorH(m => m.ExternalId)
                        @Html.LabelEditorH(m => m.Level, 
                            new { 
                                editor = 
                                new { 
                                    dropdownCustom = Html.DropDownList("Level", new SelectList(db.NavMaps.Where(x => x.UserId == UserId).OrderBy(x => x.Name), "Id", "Name", Model.LevelId),
                                    new { @class = "selectpicker", disabled = true, data_width = "100%" }) 
                                }                                     
                            })
                        @Html.LabelEditorH(m => m.Enabled)
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelEditorH(m => m.Name)
                        @Html.LabelEditorH(m => m.Type, new { editor = new { dropdown = new SelectList(Device.DeviceTypeList, "Key", "Value"), @class = "selectpicker" } })
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#dlgAddDevice form')[0].submit()">Добавить</button>
            </div>
        </div>
    </div>
</div>

<script>
</script>