﻿@model List<Device>

<style>
    .modal-dialog.centr,
    .modal-content.centr {
        height: 90%;
        width: 90%;
        left: 5%;
        top: 5%;
        margin-left: 0px;
    }

    .modal-body.centr {
        max-height: calc(100% - 120px);
        overflow-y: hidden;
        width: 100%;
    }
    .devices {
        float:left;
        height: calc(100%  / 2);
        max-height: calc(100%  / 2);
        overflow-y: visible;
        overflow-x: hidden;
    }
</style>

<div id="dlgDevices" class="modal">
    <div class="modal-dialog centr">
        <div class="modal-content centr">
            <div class="modal-header">
                <input class="did" type="hidden" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Устройства<span></span></h4>
            </div>
            <div class="modal-body form-horizontal centr">
                <div class="col-sm-4 devices">
                    @foreach (var level in Model.Select(x => x.Level).Distinct().OrderBy(x => x.Level))
                    {
                        <table class="table table-bordered table-hover">
                            <tr class="success">
                                <td>@level.Name</td>
                            </tr>
                            @foreach (var device in Model.Where(x => x.LevelId == level.Id).OrderBy(x => x.Type).ThenBy(x => x.Name))
                            {
                                <tr class="">
                                    <td class="DeviceTD">
                                        <a href="#" onclick="@String.Format("SelectDevice({0}); return false", device.Id)">@device.Name</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>

                    <div class="col-sm-8">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success pull-left" data-dismiss="modal" onclick="AddDeviceDialog()">Добавить</button>
                @*<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#dlgDevices form')[0].submit()">Сохранить</button>*@
            </div>
        </div>
    </div>

</div>

<script>
</script>