﻿@model Map

@{
    ViewBag.Title = "РПС";
}

<script src="@Url.Content("~/Scripts/raphael-min.js")"></script>
<script src="@Url.Content("~/Scripts/raphael.free_transform.js")"></script>
<script src="@Url.Content("~/Scripts/svg-pan-zoom.min.js")"></script>

<div id="menuTop" class="row">
    <div class="col-sm-4">
        @{
            var parkings = db.UserParkings.Where(x => x.UserId == UserId).Select(x => x.Parking).ToList();
            var parkingId = Guid.Parse(Request.QueryString["parkingId"]);
        }

        @Html.DropDownList("Parking", new SelectList(parkings, "Id", "Name", parkingId), new { @class = "selectpicker", data_current = parkingId })
    </div>
    <div class="col-sm-4">
        <button id="devices" class="btn btn-default">Устройства</button>
        @if (Model.Image != null)
        { 
            <button id="maps" class="btn btn-default">Карта</button>
        }
    </div>
    <div class="col-sm-4">
        @{
            var list = db.Maps.Where(x => x.ParkingId == parkingId).OrderBy(x => x.Level).ToList().ToList();
            if (UserManager.IsInRoleAsync(UserIdS, "Admin").Result)
            {
                list.Add(new Map { Id = Guid.Empty, Name = "Добавить уровень" });
            }
        }
        @Html.DropDownList("Level", new SelectList(list, "Id", "Name"), new { @class = "selectpicker", data_current = @Model.Id })
    </div>
</div>

<div class="row">
    <div id="svg" class="col-sm-12" style="cursor: pointer; overflow: hidden; background-color: white;">
    </div>
</div>

<div id="mainMenu">
    <div>
        <a href="#" id="menuLevelSettings">
            <img src="@Url.Content("~/Images/settings1.png")" />
        </a>
    </div>
    <div>
        <img src="@Url.Content("~/Images/clients.png")" />
    </div>
    <div>
        <img src="@Url.Content("~/Images/kassa.png")" />
    </div>
    <div>
        <img src="@Url.Content("~/Images/statistics.png")" />
    </div>
    <div>
        <a href="#" id="menuGlobalSettings">
            <img src="@Url.Content("~/Images/settings2.png")" />
        </a>
    </div>
    @if (UserManager.IsInRoleAsync(UserIdS, "Admin").Result)
    {
        <div>
            <a href="@Url.Action("Index", "Admin")">
                <img src="@Url.Content("~/Images/admin.png")" />
            </a>
        </div>
    }
</div>

<div id="dialog">

</div>

<script>
    var selectedElement = 0;
    var needToConfirm = false;
    var paper;
    var panZoom;
    var levelId = '@Model.Id';

    $(function () {

        $("#menuLevelSettings").on("click", menuLevelSettings);
        $("#menuGlobalSettings").on("click", menuGlobalSettings);
        $("#devices").on("click", devicesDialog);

        Resize();
        var container = $("#svg");
        paper = Raphael("svg", container.width(), container.height());

        @if (Model.Image != null)
        {
            <text>
        image = paper.image(
        '@Url.Content("~/Home/Image/" + Model.Id.ToString())',
        0,
        0,
        @(Model.ImageW),
        @(Model.ImageH)
        );
        </text>
        }

        $(window).resize(function () {
            Resize();
        });

        //$("#dlgOptionsMain button.btn-primary").click(function () {
        //$("#dlgOptionsMain form")[0].submit();
        //});

        @foreach (var item in db.NavMapRects.Where(x => x.NavMapId == Model.Id).ToList())
        {
            <text>
        AddPlace('@item.Id', @item.Index, '@item.Name', '@item.Transform', @item.Visible.ToStringLower());
        </text>
        }
        @for(int i = 0; i < 10; i++)
        {
            for(int ii = 0; ii < 5; ii++)
            {
                <text>
                AddPlace('@Guid.NewGuid()', @(i + ii + 10), '@(i + ii + 10)', '', true, @(i * 80), @(ii * 120), 50, 100);
                </text>
            }
        }

        Init();

        $(document).click(function (e) {
        });

        /*$(document).keyup(function(e){
            if (e.keyCode == 38)
                ViewBox(5);
            else if (e.keyCode == 40)
                ViewBox(6);
            else if (e.keyCode == 37)
                ViewBox(3);
            else if (e.keyCode == 39)
                ViewBox(4);
            else if (e.keyCode == 107)
                ViewBox(1);
            else if (e.keyCode == 109)
                ViewBox(2);
            else if (e.keyCode == 106)
                ViewBox(0);
        });*/

        panZoom = svgPanZoom("svg", {
            viewportSelector: ".paper_set"
            , zoomScaleSensitivity: 0.05
            , beforeZoom: function() {
                if (selectedElement != 0)
                    return false;
            }
            , onZoom: function() {
                if (selectedElement != 0)
                    return false;
            }
            , beforePan: function() {
                if (selectedElement != 0)
                    return false;
            }
            , onPan: function() {
                if (selectedElement != 0)
                    return false;
            }
        });
        doCentral();

        $('.selectpicker').selectpicker();
        $('#Parking').selectpicker('val', $('#Parking').data("current"));
        $('#Level').selectpicker('val', $('#Level').data("current"));

        $("#Level").on("change", function() {
            href = '@Url.Action("Index", new { id = "" })' + '?id=' + $(this).val() + '&parkingid=' + $("#Parking").val();
            if ($(this).val() == '@Guid.Empty') {
                if (!ASE.ConfirmAction(href, "Добавить новый уровень?"))
                    $("#Level").selectpicker("val", $("#Level").attr("current"));
            }
            else
                window.location = href;
        });
        $("#Parking").on("change", function() {
            href = '@Url.Action("Index", new { id = "" })' + '?parkingid=' + $("#Parking").val();
            window.location = href;
        });

        $(document).click(function (e) {
            $("#context-menu").removeClass("open");
            if ((selectedElement != 0) & (!$(e.target).hasClass("dialog"))) {
                UnSelectRect(selectedElement.items[0].el.id);
            }
            if (e.target.nodeName == "rect") {
                SelectRect(e.target.id);
            };
        });


        if (document.addEventListener) {
            document.addEventListener('contextmenu', function(e) {
                if (e.target.nodeName == "rect") {
                    contextMenu(e.target.id);
                    e.preventDefault();
                }
            }, false);
        } else {
            document.attachEvent('oncontextmenu', function() {
                if (e.target.nodeName == "rect") {
                    contextMenu(e.target.id);
                    window.event.returnValue = false;
                }
            });
        }
    });

    function SelectRect(id) {
        selectedElement = paper.freeTransform(paper.getById(id), { keepRatio: false }, function(ft, events) { });
        $("circle").appendTo($("g"));
        $("#svg").css("cursor", "");
        $("circle").css("cursor", "move");
        $("path").appendTo($("g"));
        texts[id][0].setAttributeNS(null, "visibility", "hidden");
        images[id][0].setAttributeNS(null, "visibility", "hidden");
        $("button.dialog").css("display", "");
    }

    function UnSelectRect(id) {
        $("button.dialog").css("display", "none");
        texts[id][0].setAttributeNS(null, "visibility", "");
        images[id][0].setAttributeNS(null, "visibility", "");
        if ($("#" + id).attr("transform") != undefined) {
            rects[id][0].setAttributeNS(null, "transform", $("#" + id).attr("transform"));
            texts[id][0].setAttributeNS(null, "transform", $("#" + id).attr("transform"));
            images[id][0].setAttributeNS(null, "transform", $("#" + id).attr("transform"));
        }

        selectedElement.unplug();
        selectedElement = 0;
        $("#svg").css("cursor", "move");
    }

    function contextMenu(id) {
        $.ajax({
            type: "POST",
            async: true,
            url: '@Url.Action("ViewReserveDialog", "Navigation")',
            data: {
                id: id
            },
            success: function (resp)
            {
                $("#dlgReserv").html(resp.html);
                $("#dlgReserv").modal();
            }
        });
    }

    function doCentral() {
        panZoom.resetZoom();
        panZoom.resetPan();
    }

    function Resize() {
        h = window.innerHeight - 84 - 60;
        if (h < 300)
            h = 300;
        $("#svg").css("height", h);

        //var x = ($("html").height() - 330) / 605;
        //if ($("html").height() > $("html").width())
        //x = ($("html").width() - 60) / 900;

        $("#svg").css("left", 10);
        $("#svg").css("width", $("#svg")[0].getBoundingClientRect().width - 30);
    }

    function Init() {
        $("rect").mouseenter(function (event) {
            $(this).attr("opacity", 0.2);
        });
        $("rect").mouseleave(function (event) {
            $(this).attr("opacity", 0.5);
        });
    }

    var rects = [];
    var texts = [];
    var images = [];

    function AddPlace(id, idx, name, transform, visible, x, y, w, h) {
        if (x == undefined) {
            x = y = 100;
            w = h = 100
        }
        if (id == undefined) {
            id = genGuid();
            idx = ($("table tr").length - 1);
            name = "Место " + idx;
            transform = "T" + $("#svg").scrollLeft() + "," + $("#svg").scrollTop();
            visible = true;

            var bbox = $("svg")[0].getBBox();
            x = Math.floor(bbox.x + bbox.width/2.0);
            y = Math.floor(bbox.y + bbox.height/2.0);
        }
        //x = y = 0;

        image = paper.image("@Url.Content("~/Images/car.png")", x, y, w, h)
        image.node.id = "img" + id;
        image.transform(transform);
        images[id] = image;

        rect = paper.rect(x, y, w, h);
        $(rect.node).appendTo("g");
        rect.node.id = "" + id;
        rect.id = "" + id;
        rect.attr("fill", "#666");
        rect.attr("opacity", "0.5");
        rect.attr("class", "draggable rect");
        $(rect.node).attr("class", "draggable rect");
        $(rect.node).attr("style", "stroke: #3399FF; stroke-width: 2px;");
        rect.transform(transform);
        if (!visible)
            rect.hide();
        rects[id] = rect;

        text = paper.text(x + (w / 2), y + (h / 2), idx);
        $(text.node).appendTo("g");
        text.node.id = "t" + id;
        text.transform(transform);
        text.id = "t" + id;
        if (!visible)
            text.hide();
        texts[id] = text;

        tr = $("table tr:first").clone();
        $(tr).attr("class", id);
        $(tr).css("display", "");
        $("table").append(tr);

        $("tr." + id).attr("oid", id);

        $("tr." + id + " a:last").attr("onclick", 'OpenDlgPlace(\'' + id + '\'); return false;');
        $("tr." + id + " a:last").html(name);
        $("tr." + id + " a:first").attr("onclick", 'OpenDlgPlace(\'' + id + '\'); return false;');
        $("tr." + id + " a:first").html(idx);
        if (visible)
            $("tr." + id + " input").attr("checked", "+");
        $("tr." + id + " input").attr("value", id);
    }

    function ViewBox(mode) {
        if (mode == 2) {
            panZoom.zoomOut(0.05);
        }
        else if (mode == 1) {
            panZoom.zoomIn(0.05);
        }
        else {
            panZoom.resetZoom();
            panZoom.resetPan();
        }
    }

    function VisibleChange(elem) {
        id = $(elem).val();
        if ($(elem).prop("checked")) {
            rects[id].show();
            texts[id].show();
        }
        else {
            rects[id].hide();
            texts[id].hide();
        }
    }

    function menuLevelSettings() {
        $.ajax({
            url: "@Url.Action("LevelSettingsDialog", "Home")",
            type: "POST",
            dataType: "json",
            data: { id: '@Model.Id' },
            cache: false,
            success: function (response) {
                $("#dialog").html(response.html);
                $("#dialog .modal").modal();
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    }

    function menuGlobalSettings() {
        $.ajax({
            url: "@Url.Action("GlobalSettingsDialog", "Home")",
            type: "POST",
            dataType: "json",
            data: {  },
            cache: false,
            success: function (response) {
                $("#dialog").html(response.html);
                $("#dialog .modal").modal();
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    }

    function devicesDialog() {
        $.ajax({
            url: "@Url.Action("DevicesDialog", "Home")",
            type: "POST",
            dataType: "json",
            data: {  },
            cache: false,
            success: function (response) {
                $("#dialog").html(response.html);
                $("#dialog .modal").modal();
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    }

    function AddDeviceDialog() {
        $.ajax({
            url: "@Url.Action("AddDeviceDialog", "Home")",
            type: "POST",
            dataType: "json",
            data: { levelId: levelId },
            cache: false,
            success: function (response) {
                $("#dialog").html(response.html);
                $('.selectpicker').selectpicker();
                $("#dialog .modal").modal();
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    }
</script>