﻿
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 well">
        @if (UserManager.IsInRoleAsync(UserIdS, "Admin").Result)
        {
            @Html.ActionLink("Администрирование", "Index", "Admin", null, new { @class = "btn btn-warning", style = "width: 100%;" })
            <div class="margb30"></div>
        }
        @foreach (var parking in db.UserParkings.Where(x => x.UserId == UserId).Select(x => x.Parking).ToList())
        {
            <div class="margb10">
                @Html.ActionLink(parking.Name, "Index", "Home", new { parkingId = parking.Id }, new { @class = "btn btn-primary", style = "width: 100%;" })
            </div>
        }
    </div>
</div>
