﻿@using rps.Models
@model LoginViewModel

@{
    ViewBag.Title = "Авторизация";
}

@if (ViewBag.Error != null)
{
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h2 class="error">@ViewBag.Error</h2>
        </div>
    </div>
}
<div class="margb25"></div>

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal well", role = "form" }))
        {
            @Html.AntiForgeryToken()
            
            <h2>@ViewBag.Title.</h2>
                
            @Html.LabelEditorValidation(m => m.Email, new
            {
                label = new { @class = "col-sm-4" },
                group = new { @class = "col-sm-8" }
            })

            @Html.LabelEditorValidation(m => m.Password, new
            {
                label = new { @class = "col-sm-4" },
                group = new { @class = "col-sm-8" }
            })


            @Html.Div(new { @class = "form-group" },
                @Html.Div(new { @class = "col-sm-offset-4 col-sm-10" }, @Html.Tag("button", new { type = "submit", @class = "btn btn-primary" }, "Войти")))
        }
    </div>
</div>
