﻿@{
    ViewBag.Title = "CallCenter";
}

<script src="@Url.Content("~/Scripts/adapter.js")"></script>
<script src="@Url.Content("~/Scripts/file-transfer.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.js")"></script>
<script src="~/signalr/hubs"></script>

<div class="row form-group">
</div>

<div class="row form-group">
    <button id="call" class="btn btn-primary" onclick="callStartStopCancel()">Start call</button>
</div>

<div class="row form-group">
    <div class="col-md-6">
        <video id="localVideo" autoplay muted></video>
    <div class="col-md-6">
    </div>
        <video id="remoteVideo" autoplay></video>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 well" id="msg">

    </div>
</div>


<script>
    navigator.getUserMedia = navigator.getUserMedia || navigator.mozGetUserMedia || navigator.webkitGetUserMedia;
    var hub = $.connection.hubCallCentral;
    var operatorId;
    var pc;
    var dc;

    $.connection.hub.start().done(function () {
        L("ID", $.connection.hub.id);
    });

    hub.client.onConnected = function (id, user) {
        L("connected", id, user);
    };

    hub.client.onDisconnected = function (id) {
        L("disconnected", id);
        if (id == operatorId)
            callStartStopCancel();
    };

    hub.client.onClientCallStart = function (id, msg) {
        L("onClientCallStart", id, msg);
    };


    hub.client.onAnswer = function (id) {
        operatorId = id;
        L("onAnswer", id);
        $("#call").removeClass("btn-warning");
        $("#call").addClass("btn-danger");
        $("#call").html("Cancel call");

        pc = new RTCPeerConnection(null, null);
        dc = null;

        pc.addStream(localStream);

        //pc.onconnection = handleOnconnection;
        //pc.onsignalingstatechange = onsignalingstatechange;
        //pc.oniceconnectionstatechange = oniceconnectionstatechange;
        //pc.onicegatheringstatechange = onicegatheringstatechange;
        pc.onaddstream = gotRemoteStream;
        pc.onicecandidate = onicecandidate;

        try {
            var fileReceiver1 = new FileReceiver();
            dc = pc.createDataChannel('test', { reliable: true });
            dc.onopen = function (e) { console.log('DC data channel connect'); }
            dc.onmessage = function (e) { console.log("DC Got message (pc1)", e.data); };
        } catch (e) { console.warn("No data channel (pc1)", e); }

        //START CREATE OFFER
        pc.createOffer(function (desc) {
            pc.setLocalDescription(desc, function () {
            }, function () { });
        }, function () { console.warn("Couldn't create offer"); });
    };
    
    function gotRemoteStream(event) {
        L("onaddstream", event);
    };

    function onicecandidate(e) {
        if (e.candidate == null) {
            hub.server.offerClient2Operator(JSON.stringify(pc.localDescription));
        }
    };

    var localStream;

    $(function () {
        navigator.getUserMedia(
            {
                audio: true, video: true
            },
            function gotStream(stream) {
                document.getElementById("localVideo").src = URL.createObjectURL(stream);
                localStream = stream;
            },
            function (error) {
            }
        );
    });


    function callStartStopCancel() {
        if ($("#call").hasClass("btn-primary")) {
            $("#call").removeClass("btn-primary");
            $("#call").addClass("btn-warning");
            $("#call").html("Stop call");
            hub.server.callStart("I need help!");
        }
        else if ($("#call").hasClass("btn-warning")) {
            $("#call").removeClass("btn-warning");
            $("#call").addClass("btn-primary");
            $("#call").html("Start call");
            hub.server.callStop("Buy, buy!");
        }
        else if ($("#call").hasClass("btn-danger")) {
            $("#call").removeClass("btn-danger");
            $("#call").addClass("btn-primary");
            $("#call").html("Start call");
            hub.server.callStop("Buy, buy!");
        }
}

    function L() {
        s = "<li>";
        s += "<b>";
        s += arguments[0];
        s += ": </b>";

        for (var i = 1; i < arguments.length; i++) {
            s += "[";
            s += arguments[i];
            s += "] ";
        }
        s += "</li>";

        $("#msg").append(s);
    }
</script>