﻿@{
    ViewBag.Title = "CallCenter";
}

<script src="@Url.Content("~/Scripts/adapter.js")"></script>
<script src="@Url.Content("~/Scripts/file-transfer.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.js")"></script>
<script src="~/signalr/hubs"></script>

<div class="row form-group">
</div>

<div class="row form-group" id="calls">
</div>

<div class="row form-group">
    <div class="col-md-12 well" id="msg">

    </div>
</div>


<script>
    var hub = $.connection.hubCallCentral;

    $.connection.hub.start().done(function () {
        L("ID", $.connection.hub.id);
        hub.server.joinAsOperator();
    });

    hub.client.onConnected = function (id, user) {
        L("connected", id, user);
    };

    hub.client.onDisconnected = function (id) {
        L("disconnected", id);
    };

    hub.client.onClientCallStart = function (id, msg) {
        L("onClientCallStart", id, msg);
        $("#calls").append('<li><button class="btn btn-primary" onclick="Answer(\'' + id +'\');" id="id' + id + '">Answer ' + id + '</button></li>')
    };

    hub.client.onClientCallStop = function (id, msg) {
        L("onClientCallStop", id, msg);
        $("#id" + id).parent().remove();
    };
    
    function Answer(id) {
        hub.server.answer(id).done(function (r) {
            L("answer()", r);
        });
    }

    hub.client.onClientOffer = function (id, offer) {
        L("onClientOffer", id, msg);
    };    

    function L() {
        s = "<li>";
        s += "<b>";
        s += arguments[0];
        s += ": </b>";

        for (var i = 1; i < arguments.length; i++) {
            s += "[";
            s += arguments[i];
            s += "] ";
        }
        s += "</li>";

        $("#msg").append(s);
    }
</script>