﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ЦУ</title>
    <link href="/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/settings/styles/css/bs.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext,cyrillic'
          rel='stylesheet' type='text/css'>
    <link href="/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/bower_components/backbone-forms/distribution.amd/templates/bootstrap3.css" rel="stylesheet">
    <link href="/bower_components/iCheck/skins/square/square.css" rel="stylesheet">

    <link href="/settings/styles/css/custom.css" rel="stylesheet">


    <link href="/settings/styles/css/modals.css" rel="stylesheet">
    <link rel="stylesheet" href="/common/vendors/jquery-ui-rotatable/jquery.ui.rotatable.css">
    <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.css">

</head>

<body style="overflow: hidden;">


    <script src="bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="/common/vendors/svgedit/embedapi.js"></script>

    <script data-main="/settings/scripts/init" src="bower_components/requirejs/require.js"></script>


</body>
</html>
