﻿@{
    ViewBag.Title = "SignalR";
}

<script src="@Url.Content("~/MVCScripts/jquery.signalR-2.2.0.js")"></script>
<script src="~/signalr/hubs"></script>

<h2>SignalR ID:<span></span></h2>

<div class="row form-group">
    @using (Html.BeginForm("SetSqlGate", "Root", FormMethod.Post))
    {
        @Html.TextBox("url", "http://localhost/root/sqlmanager/", new { style = "width: 300px;"})
        
        <input type="submit" class="btn btn-primary" value="Set sql2web gate"/>
    }
</div>

<div class="row form-group">
    <button class="btn btn-primary" onclick="onAlarmStart()">Start onAlarm</button>
    <button class="btn btn-warning" onclick="onAlarmStop()">Stop onAlarm</button>
</div>

<div class="row form-group">
    <div class="col-md-12 well" id="msg">

    </div>
</div>

<script>
    $.connection.hub.logging = true;
    var hub = $.connection.hubGeneral;

    $(function () {
        hub.client.onConnected = function (userId) {
            L("Connected", userId);
        };

        hub.client.onDisconnected = function (userId) {
            L("Disconnected", userId);
        };

        hub.client.onReconnected = function (userId) {
            L("Reconnected", userId);
        };

        hub.client.onJoinInGroup = function (userId, group) {
            L("JoinInGroup", userId, "in", group);
        };

        hub.client.onLeaveGroup = function (userId, group) {
            L("LeaveGroup", userId, "from", group);
        };

        hub.client.onLeaveGroup = function (userId, group) {
            L("LeaveGroup", userId, "from", group);
        };

        hub.client.onMessageGroup = function (userId, group, message) {
            L("MessageGroup", userId, "group", group, "message", message);
        };

        hub.client.onMessageAll = function (userId, message) {
            L("MessageAll", userId, "message", message);
        };

        hub.client.onAlarm = function (data) {
            L("MessageAll", data);
        };
        hub.client.onRemoteNotifier = function (table, action, id) {
            L("RemoteNotifier", table, action, id);
        };        

        $.connection.hub.start().done(function () {
            $("h2 > span").html($.connection.hub.id);

            hub.server.joinInGroup("test");
            hub.server.joinInGroup("RN_DeviceModel");
            hub.server.joinInGroup("RN_DeviceCMModel");
            hub.server.messageGroup("test", "Hi Group!");
            hub.server.messageAll("Hi All!");
        });
    });

    function L()
    {
        s = "<li>";
        s += "<b>";
        s += arguments[0];
        s += ": </b>";

        for (var i = 1; i < arguments.length; i++) {
            s += "[";
            s += arguments[i];
            s += "] ";
        }
        s += "</li>";

        $("#msg").append(s);
    }

    function onAlarmStart() {
        hub.server.joinInGroup("alarms");
    }

    function onAlarmStop() {
        hub.server.leaveGroup("alarms");
    }
</script>