﻿html, body {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    min-height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

#mainMenu {
    position: absolute;
    top: 200px;
    left: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

#mainMenu img {
    max-height: 64px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
}

#menuTop {
    text-align: center;
    padding-bottom: 30px;
}

#svg {
    padding-left: 100px;
}

.file_upload{
    position: relative;
    overflow: hidden;
    font-size: 1em;        /* example */
    height: 2em;           /* example */
    line-height: 2em       /* the same as height */
}
.file_upload > button{
    float: right;
    width: 8em;            /* example */
    height: 100%
}
.file_upload > div{
    padding-left: 1em      /* example */
}
input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*transform: scale(20);*/
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

.paddingLR0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.margb30 {
    margin-bottom: 30px;
}

.margb10 {
    margin-bottom: 10px;
}