﻿
@{
    ViewBag.Title = "Администрирование";
}

<style>
    .divt {
        border-top: 1px solid black;
    }
    .divb {
        border-bottom: 1px solid #ddd;
    }
    .divl {
        border-left: 1px solid black;
    }
    .divr {
        border-right: 1px solid black;
    }
    td, th {
        border: 1px solid #ddd;
    }
    .pad0{
        padding: 0px !important;
    }
    .selectable {
        border-bottom: 1px solid #ddd;
        padding: 5px;
    }
    .selectablective, .linked {
        background: #f3a971;
    }
    #OrganizationEdit, #ParkingEdit, #UserEdit {
        background: #f3a971;
        padding: 10px;
    }
    .selectable:hover {
        cursor: pointer;
        background: #ddd8d8;
    }
    .filter {
        padding: 0px !important;
        width: 100%;
        height: 35px;
        max-width: 100%;
        max-height: 100%;
        border: none;
    }
</style>

<div class="container">
    @Html.ActionLink("Навигация", "Index", "Home", null, new { @class = "btn btn-primary margb10", style = "" })
    <table class="table">
        <tr>
            <th width="33%"><h3>Компании</h3></th>
            <th width="33%" class="ColOrganizationEdit pad0" rowspan="4" style="display: none">
                <div class="" id="OrganizationEdit">
                </div>
            </th>
            <th width="33%" class="ColParking">
                <h3>Парковки</h3>
            </th>
            <th width="33%" class="ColParkingEdit pad0" rowspan="4" style="display: none">
                <div class="" id="ParkingEdit">
                </div>
            </th>
            <th width="33%"><h3>Пользователи</h3></th>
            <th width="33%" class="ColUserEdit pad0" rowspan="4" style="display: none">
                <div class="" id="UserEdit">
                </div>
            </th>
        </tr>
        <tr>
            <td class="pad0">@Html.TextBox("filterOrganization", "", new { @class = "filter", placeholder = "поиск" })</td>
            <td class="pad0">@Html.TextBox("filterParking", "", new { @class = "filter", placeholder = "поиск" })</td>
            <td class="pad0">@Html.TextBox("filterUser", "", new { @class = "filter", placeholder = "поиск" })</td>
        </tr>
        <tr id="tabledata">
            <td class="pad0" id="OragnizationList">
                @Html.Partial("OrganizationList", new ViewSortFilterModel { Sort = "Name_asc", Filter = "" })
            </td>
            <td class="pad0" id="ParkingList">
                @Html.Partial("ParkingList", new ViewSortFilterModel { Sort = "Name_asc", Filter = "" })
            </td>
            <td class="pad0" id="UserList">
                @Html.Partial("UserList", new ViewSortFilterModel { Sort = "FullName_asc", Filter = "" })
            </td>
        </tr>
        <tr>
            @if (System.Configuration.ConfigurationManager.AppSettings["IsSite2"] == "true")
            {
                <td></td>
                <td></td>
                <td class="selectable user" data-id="@Guid.Empty"><h4>Новый пользователь</h4></td>
            }
            else
            {
                <td class="selectable newItem organization" data-id="@Guid.Empty"><h4>Новая компаниия</h4></td>
                <td class="selectable newItem parking" data-id="@Guid.Empty"><h4>Новая парковка</h4></td>
                <td class="selectable newItem user" data-id="@Guid.Empty"><h4>Новый пользователь</h4></td>
            }
        </tr>
    </table>
</div>

<script>
    $(function () {
        Reload();

        $("#tabledata").css("height", "" + $("body").height() - 220 + "px");

        $("#filterOrganization").on("change", function () {
            $.ajax({
                url: '@Url.Action("OragnizationList")',
                data: {
                    Sort: "Name_asc",
                    Filter: $("#filterOrganization").val()
                },
                success: function (data) {
                    Reload(data);
                }
            })
        });

        $("#filterParking").on("change", function () {
            $.ajax({
                url: '@Url.Action("ParkingList")',
                data: {
                    Sort: "Name_asc",
                    Filter: $("#filterParking").val()
                },
                success: function (data) {
                    Reload(null, data);
                }
            })
        });

        $("#filterUser").on("change", function () {
            $.ajax({
                url: '@Url.Action("UserList")',
                data: {
                    Sort: "FullName_asc",
                    Filter: $("#filterUser").val()
                },
                success: function (data) {
                    Reload(null, null, data);
                }
            })
        });
    })

    function Reload(oraganizations, parkings, users) {
        //Load html to divs
        if ((oraganizations != undefined) & (oraganizations != null))
            $("#OragnizationList").html(oraganizations);
        if ((parkings != undefined) & (parkings != null))
            $("#ParkingList").html(parkings);
        if ((users != undefined) & (users != null)) {
            $("#UserList").html(users);
        }

        //Reassign click
        $(".selectable").unbind("click");
        $(".selectable").on("click", function (evt) {
            //Unselect current
            if ($(this).hasClass("selectablective"))
                $(this).removeClass("selectablective");
            else {
                //Link parking to org
                if (($(".selectablective").hasClass("parking")) & ($(this).hasClass("organization"))) {
                    if ($(this).hasClass("newItem"))
                        return;
                    if ($(".selectablective").data("id") == '@Guid.Empty')
                        return;
                    if ($(this).hasClass("linked"))
                        LinkOrganization2Parking(this, true);
                    else
                        LinkOrganization2Parking(this, false);

                    return;
                }
                    //Link org to parking
                else if (($(".selectablective").hasClass("organization")) & ($(this).hasClass("parking"))) {
                    if ($(this).hasClass("newItem"))
                        return;
                    if ($(".selectablective").data("id") == '@Guid.Empty')
                        return;
                    if ($(this).hasClass("linked"))
                        LinkParking2Organization(this, true);
                    else
                        LinkParking2Organization(this, false);

                    return;
                }
                    //Link user to parking
                else if (($(".selectablective").hasClass("parking")) & ($(this).hasClass("user"))) {
                    if ($(this).hasClass("newItem"))
                        return;
                    if ($(".selectablective").data("id") == '@Guid.Empty')
                        return;
                    if ($(this).hasClass("linked"))
                        LinkUser2Parking(this, true);
                    else
                        LinkUser2Parking(this, false);

                    return;
                }
                    //Link parking to user
                else if (($(".selectablective").hasClass("user")) & ($(this).hasClass("parking"))) {
                    if ($(this).hasClass("newItem"))
                        return;
                    if ($(".selectablective").data("id") == '@Guid.Empty')
                        return;
                    if ($(this).hasClass("linked"))
                        LinkParking2User(this, true);
                    else
                        LinkParking2User(this, false);

                    return;
                }
                    //Selection
                else {
                    $(".selectablective").removeClass("selectablective");
                    $(this).addClass("selectablective");
                }
            }

            if ($(this).hasClass("organization"))
                if (($(".selectablective").length != 0)) {
                    //$(".ColParkingEdit").css("display", "none");
                    //$(".ColOrganizationEdit").css("display", "");
                    SetCurrentEdit(1);

                    ASE.PartialGet('@Url.Action("OrganizationEdit")', { id: $(this).data("id") }, "#OrganizationEdit", function (data) {
                        if (data.linked != null)
                            $("div[data-id='" + data.linked + "']").addClass("linked");
                    });
                }
                else {
                    //$(".ColOrganizationEdit").css("display", "none");
                    SetCurrentEdit(0);
                    $(".linked").removeClass("linked");
                }

            if ($(this).hasClass("parking"))
                if (($(".selectablective").length != 0)) {
                    //$(".ColOrganizationEdit").css("display", "none");
                    //$(".ColParkingEdit").css("display", "");
                    SetCurrentEdit(2);

                    ASE.PartialGet('@Url.Action("ParkingEdit")', { id: $(this).data("id") }, "#ParkingEdit", function (data) {
                        $("div.organization").removeClass("linked");
                        if (data.linked != null)
                            $("div[data-id='" + data.linked + "']").addClass("linked");
                        $("div.user").removeClass("linked");
                        if (data.linkedUsers != null)
                            $(data.linkedUsers).each(function (idx, el) {
                                $("div.user[data-id='" + el + "']").addClass("linked");
                            });
                    });
                }
                else {
                    //$(".ColParkingEdit").css("display", "none");
                    SetCurrentEdit(0);
                    $(".linked").removeClass("linked");
                }

            if ($(this).hasClass("user"))
                if (($(".selectablective").length != 0)) {
                    SetCurrentEdit(3);

                    ASE.PartialGet('@Url.Action("UserEdit")', { id: $(this).data("id") }, "#UserEdit", function (data) {
                        $("div.parking").removeClass("linked");
                        if (data.linked != null)
                            $(data.linked).each(function (idx, el) {
                                $("div.parking[data-id='" + el + "']").addClass("linked");
                            });
                    });
                }
                else {
                    //$(".ColParkingEdit").css("display", "none");
                    SetCurrentEdit(0);
                    $(".linked").removeClass("linked");
                }
        });
    }

    function SetCurrentEdit(mode) {
        if (mode == 0) {
            $(".ColOrganizationEdit").css("display", "none");
            $(".ColParkingEdit").css("display", "none");
            $(".ColUserEdit").css("display", "none");
        }
        if (mode == 1) {
            $(".ColOrganizationEdit").css("display", "");
            $(".ColParkingEdit").css("display", "none");
            $(".ColUserEdit").css("display", "none");
        }
        if (mode == 2) {
            $(".ColOrganizationEdit").css("display", "none");
            $(".ColParkingEdit").css("display", "");
            $(".ColUserEdit").css("display", "none");
        }
        if (mode == 3) {
            $(".ColOrganizationEdit").css("display", "none");
            $(".ColParkingEdit").css("display", "none");
            $(".ColUserEdit").css("display", "");
        }
    }

    function LinkOrganization2Parking(el, remove) {
        $.ajax({
            url: '@Url.Action("LinkOrganization2Parking")',
            method: "POST",
            data: {
                organizationId: $(el).data("id"),
                parkingId: $(".selectablective").data("id"),
                remove: remove
            },
            success: function (data) {
                if (!data.result)
                    return;
                $(".linked").removeClass("linked");
                if (!remove)
                    $(el).addClass("linked");
            }
        });
    }

    function LinkParking2Organization(el, remove) {
        $.ajax({
            url: '@Url.Action("LinkOrganization2Parking")',
            method: "POST",
            data: {
                organizationId: $(".selectablective").data("id"),
                parkingId: $(el).data("id"),
                remove: remove
            },
            success: function (data) {
                if (!data.result)
                    return;
                $(".linked").removeClass("linked");
                if (!remove)
                    $(el).addClass("linked");
            }
        });
    }

    function LinkUser2Parking(el, remove) {
        $.ajax({
            url: '@Url.Action("LinkUser2Parking")',
            method: "POST",
            data: {
                userId: $(el).data("id"),
                parkingId: $(".selectablective").data("id"),
                remove: remove
            },
            success: function (data) {
                if (!data.result)
                    return;
                if (remove)
                    $(el).removeClass("linked");
                if (!remove)
                    $(el).addClass("linked");
            }
        });
    }

    function LinkParking2User(el, remove) {
        $.ajax({
            url: '@Url.Action("LinkUser2Parking")',
            method: "POST",
            data: {
                userId: $(".selectablective").data("id"),
                parkingId: $(el).data("id"),
                remove: remove
            },
            success: function (data) {
                if (!data.result)
                    return;
                if (remove)
                    $(el).removeClass("linked");
                if (!remove)
                    $(el).addClass("linked");
            }
        });
    }
    
</script>