﻿<div class="row">
    <div class="col-sm-6 col-sm-offset-3 paddingLR0">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">Главная</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="@("Index".IndexOf(CurrentAction) != -1 ? "active" : "")">@Html.ActionLink("Администрирование", "Index")</li>
                        <li class="@("Users,UserEdit".IndexOf(CurrentAction) != -1 ? "active" : "")">@Html.ActionLink("Пользователи", "Users")</li>
                        <li class="@("Parkings".IndexOf(CurrentAction) != -1 ? "active" : "")">@Html.ActionLink("Парковки", "Parkings")</li>
                    </ul>
                </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>
