﻿@model ViewSortFilterModel

@{
    IQueryable<Organization> list = db.Organizations;
    list = list.ApplyFilterPatern(Model.Filter, x => x.Name);
    list = list.OrderBySortOrder(Model.Sort);
}

@foreach (var item in list)
{
    <div class="selectable organization" data-id="@item.Id">@item.Name</div>
}