﻿@model Organization

<div class="form-group">
    <label for="OrganizationName">Название</label>
    <input class="form-control margb30" id="OrganizationName" placeholder="Название" value="@Model.Name">
    <div class="margb30">
        <button class="btn btn-primary" onclick="OrganizationEditSave()">Сохранить</button>
    </div>

    @if (Model.Id != Guid.Empty)
    { 
        <div class="margb30">
            <button class="btn btn-danger" onclick="OrganizationEditDelete()">Удалить</button>
        </div>
    }
</div>

<script>
    function OrganizationEditSave() {
        $.ajax({
            url: '@Url.Action("OrganizationEdit")',
            method: "POST",
            data: {
                Id: $(".selectablective").data("id"),
                Name: $("#OrganizationName").val()
            },
            success: function (data) {
                $(".ColOrganizationEdit").css("display", "none");
                $(".selectablective").removeClass("selectablective");
                $(".linked").removeClass("linked");
                Reload(data);
            }
        })
    }

    function OrganizationEditDelete() {
        bootbox.confirm("Удалить " + $(".selectablective").html() + "?", function (result) {
            if (result)
                $.ajax({
                    url: '@Url.Action("OrganizationDelete")',
                    method: "POST",
                    data: {
                        id: $(".selectablective").data("id")
                    },
                    success: function (data) {
                        $(".ColOrganizationEdit").css("display", "none");
                        $(".selectablective").removeClass("selectablective");
                        $(".linked").removeClass("linked");
                        Reload(data);
                    }
                })
        });
    }
</script>