﻿@model ViewSortFilterModel

@{
    IQueryable<ParkingModel> list = db.Parkings;
    list = list.ApplyFilterPatern(Model.Filter, x => x.Name);
    list = list.OrderBySortOrder(Model.Sort);
}

@foreach (var item in list)
{
    <div class="selectable parking" data-id="@item.Id">@item.Name</div>
}