﻿@using rps.Controllers

@{
    ViewBag.Title = "Парковки";
    ApplicationDbContext udb = new ApplicationDbContext();
}

@Html.Partial("NavBar")

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h2>@ViewBag.Title</h2>
        <p>
            @Html.ActionLink("Добавить", "ParkingEdit", new { }, new { @class = "btn btn-primary" })
        </p>
        <table class="table table-striped table-hover">
            <tr>
                <th>Имя</th>
                <th>Пользователи</th>
                <th></th>
            </tr>
            @foreach (var parking in db.Parkings.OrderBy(x => x.Name).ToList())
            {
                var users = udb.Users.ToList();
                <tr>
                    <td>@Html.ActionLink(parking.Name, "ParkingEdit", new { id = parking.Id })</td>
                    <td>
                        @foreach (var userParking in parking.UserParkings)
                        {
                            <div>@users.FirstOrDefault(x => x.Id == userParking.UserId.ToString()).UserName</div>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "ParkingDelete", new { id = parking.Id }, new { @class = "btn btn-danger", onclick = String.Format("ASE.ConfirmAction(this.href, 'Удалить парковку: {0}'); return false;", parking.Name) })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-sm-3"></div>
</div>