﻿@model ParkingModel

<div class="form-group">
    <label for="ParkingName">Название</label>
    <input class="form-control margb10" id="ParkingName" placeholder="Название" value="@Model.Name">
    <label for="ParkingLongitude">Долгота</label>
    <input class="form-control margb10" id="ParkingLongitude" placeholder="Долгота" value="@Model.Longitude">
    <label for="ParkingLatitude">Широта</label>
    <input class="form-control margb10" id="ParkingLatitude" placeholder="Широта" value="@Model.Latitude">
    <label for="ParkingSUServer">СУ</label>
    <input class="form-control margb10" id="ParkingSUServer" placeholder="СУ" value="@Model.SUServer">
    <label for="ParkingSUPort">Порт</label>
    <input class="form-control margb10" id="ParkingSUPort" placeholder="Порт" value="@Model.SUPort">
    <label for="ParkingSUUser">Пользователь</label>
    <input class="form-control margb10" id="ParkingSUUser" placeholder="Пользователь" value="@Model.SUUser">
    <label for="ParkingSUPassword">Пароль</label>
    <input class="form-control margb10" id="ParkingSUPassword" placeholder="Пароль" value="@Model.SUPassword">
    <label for="ParkingS2Server">Сервер2</label>
    <input class="form-control margb10" id="ParkingS2Server" placeholder="Сервер2" value="@Model.S2Server">
    <label for="ParkingS3Server">Сервер3</label>
    <input class="form-control margb30" id="ParkingS3Server" placeholder="Сервер3" value="@Model.S3Server">

    <div class="margb30">
        <button class="btn btn-primary" onclick="ParkingEditSave()">Сохранить</button>
    </div>
    @if (Model.Id != Guid.Empty) 
    { 
        <div class="margb30">
            <button class="btn btn-danger" onclick="ParkingEditDelete()">Удалить</button>
        </div>
    }
</div>

<script>
    function ParkingEditSave() {
        $.ajax({
            url: '@Url.Action("ParkingEdit")',
            method: "POST",
            data: {
                Id: $(".selectablective").data("id"),
                Name: $("#ParkingName").val(),
                SUServer: $("#ParkingSUServer").val(),
                SUPort: $("#ParkingSUPort").val(),
                SUUser: $("#ParkingSUUser").val(),
                SUPassword: $("#ParkingSUPassword").val(),
                S2Server: $("#ParkingS2Server").val(),
                S3Server: $("#ParkingS3Server").val(),
                Longitude: $("#ParkingLongitude").val(),
                Latitude: $("#ParkingLatitude").val()
            },
            success: function (data) {
                $(".ColParkingEdit").css("display", "none");
                $(".selectablective").removeClass("selectablective");
                $(".linked").removeClass("linked");
                Reload(null, data);
            }
        })
    }

    function ParkingEditDelete() {
        bootbox.confirm("Удалить " + $(".selectablective").html() + "?", function (result) {
            if (result)
                $.ajax({
                    url: '@Url.Action("ParkingDelete")',
                    method: "POST",
                    data: {
                        id: $(".selectablective").data("id")
                    },
                    success: function (data) {
                        $(".ColParkingEdit").css("display", "none");
                        $(".selectablective").removeClass("selectablective");
                        $(".linked").removeClass("linked");
                        Reload(null, data);
                    }
                })
        });
    }
</script>
