﻿@model ViewSortFilterModel

@{
    IQueryable<User> list = db.Users;
    list = list.ApplyFilterPatern(Model.Filter, x => x.FullName);
    list = list.OrderBySortOrder(Model.Sort);
}

@foreach (var item in list)
{
    <div class="selectable user" data-id="@item.Id">@item.FullName</div>
}