﻿@using rps.Controllers

@{
    ViewBag.Title = "Пользователи";
    ApplicationDbContext udb = new ApplicationDbContext();
    var roles = udb.Roles.ToList();
}

@Html.Partial("NavBar")

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h2>@ViewBag.Title</h2>
        <p>
            @Html.ActionLink("Добавить", "UserEdit", new { }, new { @class = "btn btn-primary" })
        </p>
        <table class="table table-striped table-hover">
            <tr>
                <th>Имя</th>
                <th>Роли</th>
                <th>Парковки</th>
                <th></th>
            </tr>
            @foreach (var user in udb.Users.OrderBy(x => x.UserName).ToList())
            { 
                <tr>
                    <td>@Html.ActionLink(user.UserName, "UserEdit", new { id = user.Id })</td>
                    <td>
                        @foreach(var role in user.Roles)
                        {
                            <div>@AccountController.Roles[role.RoleId]</div>
                        }
                    </td>
                    <td>
                        @foreach(var parking in db.UserParkings.Where(x => x.UserId.ToString() == user.Id).OrderBy(x => x.Parking.Name).ToList())
                        {
                            <div>@parking.Parking.Name</div>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Удалить", "UserDelete", new { id = user.Id }, new { @class = "btn btn-danger", onclick = String.Format("ASE.ConfirmAction(this.href, 'Удалить пользователя: {0}'); return false;", user.UserName) })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-sm-3"></div>
</div>