﻿@model User

<div class="form-group">
    <label for="OrganizationName">Название</label>
    <input class="form-control margb30" id="UserFullName" placeholder="Название" value="@Model.FullName">
    <div class="margb30">
        <button class="btn btn-primary" onclick="UserEditSave()">Сохранить</button>
    </div>

    @if (Model.Id != Guid.Empty)
    {
        <div class="margb30">
            <button class="btn btn-danger" onclick="UserEditDelete()">Удалить</button>
        </div>
    }
</div>

<script>
    function UserEditSave() {
        $.ajax({
            url: '@Url.Action("UserEdit")',
            method: "POST",
            data: {
                Id: $(".selectablective").data("id"),
                FullName: $("#UserFullName").val()
            },
            success: function (data) {
                SetCurrentEdit(0);
                $(".selectablective").removeClass("selectablective");
                $(".linked").removeClass("linked");
                Reload(null, null, data);
            }
        })
    }

    function UserEditDelete() {
        bootbox.confirm("Удалить " + $(".selectablective").html() + "?", function (result) {
            if (result)
                $.ajax({
                    url: '@Url.Action("UserDelete")',
                    method: "POST",
                    data: {
                        id: $(".selectablective").data("id")
                    },
                    success: function (data) {
                        SetCurrentEdit(0);
                        $(".selectablective").removeClass("selectablective");
                        $(".linked").removeClass("linked");
                        Reload(null, null, data);
                    }
                })
        });
    }
</script>